{% extends 'base.html.twig' %}

{% block title %}Classes{% endblock %}

{% block body %}
    {% if app.user %} 
        
    {% else %}
        <h2>Vous n'êtes pas connecté !</h2>
    {% endif %}

{% endblock %}