{% extends 'base.html.twig' %}

{% block title %}
    {% if editMode %}
        Edit Classe
    {% else %}
        Nouvelle Classe
    {% endif %}
{% endblock %}

{% block body %}
    {% if app.user %}
        {% if editMode %}
            <h1>Modification de la classe sélectionnée :</h1>
        {% else %}
            <h1>Ajouter une nouvelle classe à la liste :</h1>
        {% endif %}
        {{ form_start(formClasse)}}
            <label class="col-form-label col-form-label-lg" for="inputLarge">Nom complet du Professeur :</label>
            {{form_widget(formClasse.teacher)}}
            <label class="col-form-label col-form-label-lg" for="inputLarge">Nom de la classe :</label>
            {{form_widget(formClasse.name_class)}}
            <br>
        {{ form_end(formClasse)}}

    {% else %}
        <h2>Vous n'êtes pas connecté !</h2>

    {% endif %}

{% endblock %}